.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__input {
    font-size: 15px;
    width: 65%;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    height: 38px;
  }
}
